<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node/Express and SQL Assessment</title>
    <script src="vendors/jquery-3.0.0.min.js" charset="utf-8"></script>
    <script src="scripts/client.js" charset="utf-8"></script>
  </head>
  <body>
      <h1>WELCOME TO THE NU ZOO</h1>
      <h2>Want to turn your animal(s) in?</h2>
      <input type="text" id="animalIn" name="animalIn" value="" placeholder="Type of animal(s)">
      <button type="button" id="animalSub" name="animalSub">Hand the animal(s) over</button>
      <div id="outputDiv"></div>
  </body>
</html>
